@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="list-group">
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>Home</a>
    <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>Biblioteca</a>
    <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>Apps</a>
    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>Config</a>
</div>
